@model User

<h2>Your profile</h2>


<form asp-action="Profile" method="post">

    <div class="d-flex justify-content-center mb-4">
        
            <div>
                <img id="selectedAvatar" src="https:\\localhost:7237\Pictures\@ViewBag.ProfilePicture" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover; padding: 15px; border-radius: 100%; background-color: #567D8D;" alt="Profilbild">

            </div>
         
        
       
       
    </div>

    <div class="d-flex justify-content-center mb-4">
     <p>
            Status: @(Model.Privat ? "Privat" : "Offentlig")
        </p>
    </div>

        <div class="d-flex justify-content-center mb-4">
            <a asp-controller="Profile" asp-action="UpdateProfile" class="btn btn-primary">Redigera Profil</a>

           
     </div>
    <table class="table-bordered" style="width: 60%; margin: auto; border-collapse: collapse; margin-top: 20px;">
        <tr>
            <td>
                <label asp-for="Username">Username:</label>
            </td>
            <td>
                <span>@Model.Username</span>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Firstname">First Name:</label>
            </td>
            <td>
                <span>@Model.Firstname</span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Lastname">Last Name:</label>
            </td>
            <td>
                <span>@Model.Lastname</span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Epost">Email:</label>
            </td>
            <td>
                <span>@Model.Epost</span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Adress">Address:</label>
            </td>
            <td>
                <span>@Model.Adress</span>
            </td>
        </tr>
    
       
    </table>
</form>

<style>
    .profile-picture {
        max-width: 150px;
        max-height: 150;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        border: 2px solid black; 
    }
</style>