@model User

<h2>Your profile</h2>


<form asp-action="Profile" method="post">

    <div class="d-flex justify-content-center mb-4">
        @if (@ViewBag.noProfilePicture == null)
        {
           
            <div>
                <img id="selectedAvatar" src="https:\\localhost:7237\Pictures\@ViewBag.ProfilePicture" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="Profilbild" class="Profilbild">

            </div>
         
        }
        else
        {
            <div>
                <img src="https:\\localhost:7237\Pictures\@ViewBag.noProfilePicture" alt="Profilbild" class="Profilbild">

            </div>
        }
       
    </div>
    <table class="table-bordered" style="width: 60%; margin: auto; border-collapse: collapse; margin-top: 20px;">
        <tr>
            <td>
                <label asp-for="Username">Username:</label>
            </td>
            <td>
                <span>@Model.Username</span>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Firstname">First Name:</label>
            </td>
            <td>
                <span>@Model.Firstname</span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Lastname">Last Name:</label>
            </td>
            <td>
                <span>@Model.Lastname</span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Epost">Email:</label>
            </td>
            <td>
                <span>@Model.Epost</span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Adress">Address:</label>
            </td>
            <td>
                <span>@Model.Adress</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Kompetenser:</label>
            </td>
            <td>
                @if (ViewBag.Competence != null)
                {
                    foreach (var Comp in ViewBag.Competence)
                    {
                        <p> - @Comp.Description</p>
                    }
                }
                else
                {
                    <p>Ingen information om kompetenser tillgänglig.</p>
                }
            </td>
        </tr>
        <tr>
            <td>
                <label>Utbildning:</label>
            </td>
            <td>
                @if (ViewBag.Education != null)
                {
                    foreach (var education in ViewBag.Education)
                    {
                        <p> - @education.Description</p>
                    }
                }
                else
                {
                    <p>Ingen information om utbildningar tillgänglig.</p>
                }
            </td>
        </tr>

        <!-- Erfarenheter -->
        <tr>
            <td>
                <label>Erfarenheter:</label>
            </td>
            <td>
                @if (ViewBag.Experience != null)
                {
                    foreach (var experience in ViewBag.Experience)
                    {
                        <p> - @experience.Description</p>
                    }
                }
                else
                {
                    <p>Ingen information om tidigare erfarenheter tillgänglig.</p>
                }
            </td>
        </tr>
            
        <p>
            Status: @(Model.Privat ? "Privat" : "Offentlig")
        </p>
        <div>
            <a asp-controller="Profile" asp-action="UpdateProfile" class="btn btn-primary">Redigera Profil</a>

           
        </div>
    </table>
</form>

<style>
    .profile-picture {
        max-width: 150px;
        max-height: 150;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        border: 2px solid black; /* Justera färgen efter behov */
    }
</style>