@model User


<form asp-action="UpdateProfile" method="post" enctype="multipart/form-data">


    <table class="table-bordered" style="width: 60%; margin: auto; border-collapse: collapse; margin-top: 20px;">


      
            <div class="d-flex justify-content-center mb-4">
                <img id="selectedAvatar" src="@ViewBag.ProfilePicture"
                     class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="" />
            </div>

            <div class="d-flex justify-content-center">
                <div class="btn btn-primary btn-rounded">
                    <label class="form-label text-white m-1" for="customFile2">Välj en bild</label>
                    <input type="file" name="CVBild" class="form-control d-none" id="customFile2" onchange="displaySelectedImage(event, 'selectedAvatar')" />
                </div>
            </div>

        </div>
        <tr>
            <td>
                <label asp-for="Username">Username:</label>
            </td>
            <td>
                <input asp-for="Username" type="text" class="form-control" value="@Model.Username" />

            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password">Password:</label>
            </td>
            <td>
                <input asp-for="Password" type="text" class="form-control" value="@Model.Password" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="ConfirmPassword">Confirm new password:</label>
            </td>
            <td>
                <input asp-for="ConfirmPassword" type="text" class="form-control" />
            </td>

        </tr>
        <tr>
            <td>
                <label asp-for="Firstname">First Name:</label>
            </td>
            <td>
                <input asp-for="Firstname" type="text" class="form-control" value="@Model.Firstname" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Lastname">Last Name:</label>
            </td>
            <td>
                <input asp-for="Lastname" type="text" class="form-control" value="@Model.Lastname" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Epost">Email:</label>
            </td>
            <td>
                <input asp-for="Epost" type="text" class="form-control" value="@Model.Epost" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Adress">Address:</label>
            </td>
            <td>
                <input asp-for="Adress" type="text" class="form-control" value="@Model.Adress" />
            </td>
        </tr>
        <div class="form-check mb-4">
            <input asp-for="Privat" class="form-check-input" type="checkbox" id="form3Example5" />
            <label class="form-check-label" for="form3Example5">Private</label>
        </div>

        <tr>
            <td colspan="4" style="text-align: right;">
                <button type="submit" class="btn btn-primary">Uppdatera profil</button>

            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left;">
                <a class="btn btn-primary" asp-controller="Profile" asp-action="Profile">Gå tillbaka till profil</a>
            </td>
        </tr>
    </table> 

</form>



 <script>
    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }


</script>

<style>
    .profile-picture {
        max-width: 150px;
        max-height: 150;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        border: 2px solid black; /* Justera färgen efter behov */
    }
</style>