@model List<User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>HEJ DET FUNKAR ÖNTLIGEN</h2>



<table class="table-bordered">
    <thead>
        <tr>
           
            <td>UID </td>
            <td>Username </td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Privat</td>
           
        </tr>
    </thead>

    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.UID</td>
                <td>@prod.Username</td>
                <td>@prod.Firstname</td>
                <td>@prod.Lastname</td>
                <td>@prod.Privat</td>
              
              


            </tr>
        }
    </tbody>


</table>