@model List<Project>


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<div class="container" style="margin-top: 25px;">
    <h4>@ViewBag.Sök</h4>
    <form class="d-flex justify-content-end" role="search">
        <div class="input-group">
            <input class="form-control me-2" type="text" name="söksträng" placeholder="Projekt namn" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" asp-controller="Project" asp-action="SearchProject">Sök</button>
            <button class="btn btn-outline-success" type="submit" asp-controller="Project" asp-action="Projects">Alla</button>
        </div>
    </form>


    <table class="table-bordered table" style="width: 70%; margin: auto; border-collapse: collapse; margin-top: 20px; border: 10px solid DarkSeaGreen;">
        <tbody>
            @foreach (var project in Model)
            {


                <tr>
                    <td>
                        <div class="project-container" style="margin-bottom: 1em; border: 1px solid black; padding: 10px">
             

                            <h4>@project.Title</h4>
                            <p>@project.Description</p>
                            <label>Start-Datum</label>
                            <p>@project.BeginDate</p>
                            <label>Slut-Datum</label>
                            <p>@project.EndDate</p>

                            <div style="text-align:right">
                                <a class="btn btn-outline-success" asp-controller="Project" asp-action="EditProject" asp-route-PID="@project.PID">Uppdatera</a>
                                <a class="btn btn-outline-success" href="#" onclick="confirmDelete(@project.PID)">Radera</a>
                                <a class="btn btn-outline-success" asp-controller="Project" asp-action="DeltagarLista" asp-route-PID="@project.PID">Deltagare</a>



                            </div>




                        </div>

                    </td>

                </tr>
            }
        </tbody>

    </table>

    <script>
        function confirmDelete(projectId) {
            var confirmation = confirm("Do you want to delete this project?");
            if (confirmation) {
                window.location.href = "/Project/Delete?PID=" + projectId;
            }
        }
    </script>

</div>


<div class="d-flex justify-content-end">
    <a class="btn btn-outline-success" asp-controller="Project" asp-action="AddProject">Nytt projekt</a>
</div>