@model List<Chat>

@if (ViewBag.HasUnreadMessages == true)
{
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="transform: translate(-50%, 0%);">
        <span class="visually-hidden">New messages</span>
    </span>
}
<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
               @*  ProfilBild på inloggad *@           
                <img id="profile-img" src="@ViewBag.ProfilePicture" style="height:100%; width:20%;" class="online" alt="Profilbild" />
                <AuthorizeView>
                    <Authorized>
                        <p>@User.Identity.Name</p>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>

        
        <form asp-action="MessageBox" method="get">
           
            @if (ViewBag.anonym == null)
            {
                @if (@User.Identity.Name == null)
            {

                    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 style="color:black;" class=" modal-title w-100 font-weight-bold">Uppge ditt namn</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-5">
                                        <h5 style="color:black;">För att kunna skriva till denna användare måste du ange ditt namn</h5>
                                        <i class="fas fa-user prefix grey-text"></i>
                                        <input type="text" name="anonym" id="orangeForm-name" class="form-control validate" placeholder="Ditt namn">
                                    </div>


                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-deep-orange">Okej</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                    <script>
                        $(document).ready(function () {
                        $("#modalRegisterForm").modal('show');
                        });
                    </script>
                }

            }

            <div id="search">

                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" name="message" placeholder="Search contacts..." />
                <button class="submit" type="submit" value="submit"><i class="fa fa-paper-plane" aria-hidden="true">Sök</i></button>

            </div>

            @if (ViewBag.users != null)
            {
                <div id="contacts">
                    <ul>
                        @foreach (User user in ViewBag.users)
                        {
                            <li class="contact">
                        <form asp-action="MessageBox" asp-controller="Chat" method="get">
                                    <input type="hidden" name="clickID" value="@user.UID" />
                                    <input type="hidden" name="getLogedOnUser" value="@User.Identity.Name" />
                                    <button type="submit" style="width: 100%; height: 100%; border: none; background: none;">

                                    <div class="wrap">
                                        <span class="contact-status online"></span>
                                        @* ProfilBild i Sökfält *@

                                            <img src="https://www.nicepng.com/png/detail/136-1366211_group-of-10-guys-login-user-icon-png.png" class="rounded-circle" alt="Bild på inloggad" />
                                            
                                            <div class="meta">
                                            <p class="name" style="color:white;">@user.Firstname @user.Lastname</p>
                                            <p class="name" style="color:white;">@user.Username</p>
                                        </div>
                                    </div>

                                    </button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            }
            
            </form>

    </div>
    <div class="content">
        <div class="contact-profile">
            @* ProfilBild i Chatt, replier*@

            <p>@ViewBag.ClickedName</p>

            <img src="https://www.nicepng.com/png/detail/136-1366211_group-of-10-guys-login-user-icon-png.png" alt="" />
           
        </div>


        <div class="messages">
            <ul>
                @if (Model != null)
                {
                    @foreach (Chat chat in Model)
                    {
                        if (chat.ReceiverID.Equals(ViewBag.LoggedInID))
                        {
                            <li class="replies">

                                <img src="@ViewBag.ClickedProfilePicture" alt="" />
                                <p>@chat.Text</p>
                                <p style="font-size:0.5em;">@chat.Date</p>
                                @if (!chat.Read.HasValue || !chat.Read.Value)
                                {
                                    <form asp-controller="Chat" asp-action="MarkMessageAsRead" method="post">
                                        <input type="hidden" name="messageId" value="@chat.MID" />
                                        <button type="submit">Markera som läst</button>
                                    </form>
                                }
                            </li>
                        }
                    
                        else
                        {
                            <li class="sent">
                                <img src="@ViewBag.ProfilePicture" alt="" />
                                <p>@chat.Text</p>
                                <p style="font-size:0.5em;">@chat.Date</p>
                                @if (!chat.Read.HasValue || !chat.Read.Value)
                                {
                                    <div style="background-color: #f5f5f5; padding: 5px; border-radius: 5px; margin-top: 5px;">Ej läst</div>
                                }
                                @if (chat.Read.HasValue && chat.Read.Value)
                                {
                                    <div style="background-color: #f5f5f5; padding: 5px; border-radius: 5px; margin-top: 5px;">Läst</div>
                                }
                            </li>
                        }
                    }
                }
            </ul>
        </div>

         
       
        <form asp-controller="Chat" asp-action="MessageBox" method="post">

            @using (Html.BeginForm("MessageBox", "Chat", FormMethod.Post))
            {
                @Html.Hidden("clickedName", (string)ViewBag.ClickedName)
                @Html.Hidden("getLogedOnUser", (string)ViewBag.getLogedOnUser)
                @Html.Hidden("anonym", (string)ViewBag.anonym)

          
               

            <div class="message-input">
                <div class="wrap">
                    <input type="hidden" name="ClickedName" value="@ViewBag.Clickedname" />
                    <input type="text" name="med" placeholder="Skicka ett meddelande..." style="margin-left:1em;" />
                    <button class="submit" type="submit" value="Skicka"><i class="fa fa-paper-plane" aria-hidden="true">Skicka</i></button>
                </div>
            </div>
            }
            
        </form>
        

    </div>

    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script>

        $(".messages").animate({ scrollTop: $(document).height() }, "fast");


        $(".expand-button").click(function () {
            $("#profile").toggleClass("expanded");
            $("#contacts").toggleClass("expanded");
        });

    </script>

