@model CV.Models.CV_


<!DOCTYPE html>

 	<html lang="eng">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="AddResume.cshtml.css">
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/CV.styles.css" asp-append-version="true" />

	</head>

	<body>



		<div class="wrapper mt-lg-5">
			<div class="sidebar-wrapper">

				<div class="profile-container">
					<div class="profile">
						@* 		ProfilBild*@						
						@if (@ViewBag.noProfilePicture == null)
						{
							
							<div>
								<img src="https:\\localhost:7237\Pictures\@ViewBag.ProfilePicture" alt="Profilbild" class="Profilbild">

							</div>
						
						}
						else
						{
							<div>
								<img src="https:\\localhost:7237\Pictures\@ViewBag.noProfilePicture" alt="Profilbild" class="Profilbild">

							</div>
						}
					</div>
					<div class="contact-container container-block">
						@* 						För- och Efternamn*@

						@if (ViewBag.Fullname != null){
							@foreach (var name in ViewBag.Fullname)
							{
								<h4>@name.Firstname</h4>
								<h4>@name.Lastname</h4>
							}
						}
						<form asp-controller="Chat" asp-action="MessageBox" method="get">
						<input type="hidden" name="clickID" value="@ViewBag.UID" />
						
						<button class="btn btn-outline-light" type="submit" style="font-size:0.8em;"> Skicka meddelande</button>
						</form>

						
					</div>

				</div>

				<div class="contact-container container-block">

					@* Kompetenser *@
					@if (@ViewBag.Competence != null)
					{

						<p>Kompetenser:</p>

						@foreach (var Comp in ViewBag.Competence)
						{
							<p> - @Comp.Description</p>
						}
					}
					else
					{
						@ViewBag.CompetenceMessage
						;
					}
				</div><!--//profile-container-->
				@* Konkatktinformation *@

				<div class="contact-container container-block">

					<p>Kontaktinformation:</p>

					@foreach (var info in ViewBag.Kontaktinfo)
					{
						<p class="fa-solid fa-envelope">@info.Epost</p>
						<p class="fa-solid fa-phone">@info.Adress</p>


					}
				</div><!--//contact-container-->





			</div>
			</section><!--//skills-section-->
			@* Projekt *@

			<div class="main-wrapper">


				<section class="section projects-section">

					<h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-archive"></i></span>Projects</h2>

					@if (@ViewBag.Project != null)
					{
						@foreach (var proj in ViewBag.Project)
						{

							<h4>@proj.Title</h4>
							<p>@proj.Description</p>
							<p>Startdatum: </p>

							<p>@proj.BeginDate</p>
							<P>Slutdatum: </P>

							<p>@proj.EndDate</p>
							<br />
							<h4>_________________________________</h4>
							<br />

						}
					}
					else
					{
						@ViewBag.ProjectMessage
						;
					}



				</section>


				@* Utbildning *@

				<div class="education-container container-block">
					<h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span>Utbildning</h2>
					<div class="item">
						@if (ViewBag.Education != null)
						{


							@foreach (var desc in ViewBag.Education)
							{
								<h2 class="section-title">@desc.Description</h2>
							}
						}
						else
						{
							@ViewBag.EducationMessage;
						}



					</div>
					<br />
					<br />



				</div><!--//sidebar-wrapper-->
				@* Erfarenheter *@

				<section class="section experiences-section">
					<h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span>Erfarenheter</h2>

					@if (ViewBag.Experience != null)
					{


						@foreach (var exp in ViewBag.Experience)
						{
							<h2 class="section-title">@exp.Description</h2>
						}

					}
					else
					{
						@ViewBag.ExperienceMessage
						;
					}



				</section><!--//section-->





			</div>

			<!--//main-body-->
		</div>

		

	</body>
</html>





